# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
wheels/
target/

# Environments
.env
.env.secret
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Cython debug symbols
cython_debug/

# Ignore rinex directory except specific test files
rinex/**
!rinex/v2/obs/
!rinex/v2/obs/cgtc0920.14o
!rinex/v3/nav/
!rinex/v3/nav/BRDC00WRD_R_20250870000_01D_MN.rnx
!rinex/v3/obs/
!rinex/v3/obs/ASIR00ITA_R_20242810000_01D_30S_MO.rnx
!rinex/v3/obs/ASIR00ITA_R_20242810000_01D_30S_MO.crx
!rinex/v3/obs/ASIR00ITA_R_20242810000_01D_30S_MO.crx.gz

# Pytest cache
.pytest_cache/

# Jupyter Notebook
jupyters/

# Coverage reports
.coverage

# Utility scripts
scripts/

# Markdown
/*.md
!/README.md
!/CODE_OF_CONDUCT.md
!/CONTRIBUTING.md

# Development Docker files
/tools/docker/Dockerfile.dev
/tools/docker/docker-compose.override.yml