# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
downloads/
lib/
lib64/
var/
wheels/
share/python-wheels/
.installed.cfg
pytecal-rs/target/

# Environments
.env
.env.secret
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Cython debug symbols
cython_debug/

# Test data
rinex/**/

# Pytest cache
.pytest_cache/

# Jupyter Notebook
jupyters/

# Coverage reports
.coverage

# Markdown
# *.md
# !README.md