# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
downloads/
lib/
lib64/
var/
wheels/
share/python-wheels/
.installed.cfg
libtecrs/target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.env.secret
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Cython debug symbols
cython_debug/

# Data
rinex/**/

# Markdown
# *.md
# !README.md