# Your local directories
INPUT_DIR=C:/your/input/path
OUTPUT_DIR=C:/your/output/path
NAV_DIR=C:/your/nav/path

# Output options
SAVE_PARQUET=True
SAVE_CSV=False
SAVE_STATIC_PLOTS=True
SAVE_INTERACTIVE_PLOTS=False
PLOT_DPI=300

# Logging options
# 0: Silent, 1: Standard, 2: Verbose, 3: Verbose + .log file
VERBOSE=1

# Process mode: DAILY or STATION_BATCH
PROCESS_MODE=DAILY

# Calibration parameters
H_IPP=350000
MIN_ELEVATION=20
ARC_THRESHOLD_ABS=10
ARC_THRESHOLD_STD=10
ARC_THRESHOLD_JUMP=5
ARC_MIN_LENGTH=120