# Paths for input (OBS), output and NAV files
INPUT_DIR=C:/your/input/path
OUTPUT_DIR=C:/your/output/path
NAV_DIR=C:/your/nav/path

# Output options
SAVE_PARQUET=True
SAVE_CSV=True
GENERATE_PLOTS=True

# Plotting options
PLOT_DPI=300

# Calibration options: DAILY or STATION_BATCH
CALIBRATION_MODE=DAILY