# Paths for input (OBS), output and NAV files
INPUT_DIR=C:/your/input/path
OUTPUT_DIR=C:/your/output/path
NAV_DIR=C:/your/nav/path

# Output options
SAVE_PARQUET=True
SAVE_CSV=False
SAVE_STATIC_PLOTS=False
SAVE_INTERACTIVE_PLOTS=False
PLOT_DPI=300

# Logging options (0: Silent, 1: Standard, 2: Verbose, 3: Verbose + logging to file)
VERBOSE=1

# Calibration options: DAILY or STATION_BATCH
CALIBRATION_MODE=DAILY